# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# Prisma (only if not using DB yet)
prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
